<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.senderside">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/itglogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="whateverString"
        android:name = "com.example.senderside.Bean.FirebaseApplication" >
        <activity android:name=".Activities.JobRegistrationForm" />
        <activity android:name=".Activities.PasswordConfiguration" />
        <activity android:name=".Activities.ProfileDetail" />
        <activity android:name=".Activities.MotivationalVideoActivity" />
        <activity android:name=".Activities.LiveVideoAcitvity" />
        <activity
            android:name=".Activities.Dashboard"
            android:label="@string/title_activity_dashboard" />
        <activity android:name=".Activities.LoginPage" />
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.RegisterPage" />
        <activity android:name=".Activities.SpleshScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.AboutActivity" />
        <activity android:name=".Activities.NextActivity" />
        <activity android:name=".Activities.ListItems" />
        <activity android:name=".Activities.MechanicalActivity" />
        <activity android:name=".Activities.RecycleViewList" />
        <activity android:name=".Activities.ComputerList" />
        <activity android:name=".Activities.EclectricalList" />
        <activity android:name=".Activities.BbaListData" />
        <activity android:name=".Activities.CivilList">
        </activity>
        <activity android:name=".Activities.StudentRegistration"/>
    </application>

</manifest>