<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.common">

    <uses-feature
        android:name="android.hardware.ram.low"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/itg"
        android:appComponentFactory="whateverString"
        android:label="@string/app_name"
        android:roundIcon="@drawable/itg"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.FacultyProfile" />
        <activity android:name=".activities.Dashboard" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginPage" />
        <activity android:name=".activities.RegisterPage" />
        <activity android:name=".activities.StudentRegistration" />
        <activity android:name=".activities.PasswordConfiguration" />
        <activity android:name=".activities.DashboardListItems" />
        <activity android:name=".activities.ViewRegisterStu" />
        <activity android:name=".activities.RegistrationFormActivity" />
        <activity android:name=".activities.ReferenceList" />
        <activity android:name=".activities.TeacherReferAlert" />
        <activity android:name=".activities.FriendReferAlert" />
        <activity android:name=".activities.ViewList" />
        <activity android:name=".activities.ListStudents"/>
    </application>

</manifest>